<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h3>An error occurred while dealing with the request.</h3>
    <h4>{{errorMessage}}</h4>
    <h4>Root Cause:</h4>
    <div>
    {{rootCause}}
    </div>
    <h5>{{stackTrace}}</h5>
</body>
</html>