<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Connect Four</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
    href="/resources/styles/bot.css">
</head>
<body>
    <script type="text/javascript"
        src="/resources/script/jquery.js"></script>
    <script type="text/javascript"
        src="/resources/script/bot.js"></script>
    <div id="body">
        <h1>
            <a href="/">I see you</a>
        </h1>
        {{{layout.body}}}
        <div id="pagefooter">
        </div>
    </div>
</body>
</html>